<div class="warpper-box-product">
  <div class="box-cate-product">
    <ul class="choose-cate">
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/IP_Desk_25.png"
              alt="iphone"
            />
          </div>
          <span>iPhone</span>
        </a>
      </li>
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/Mac_Desk_25.png"
              alt="iphone"
            />
          </div>
          <span>Mac</span>
        </a>
      </li>
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/Ipad_Desk_25.png"
              alt="iphone"
            />
          </div>
          <span>iPad</span>
        </a>
      </li>
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/Watch_Desk.png"
              alt="iphone"
            />
          </div>
          <span>AppleWatch</span>
        </a>
      </li>
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/Speaker_Desk_25.png"
              alt="iphone"
            />
          </div>
          <span>Tai Nghe</span>
        </a>
      </li>
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/Phukien_Desk_25.png"
              alt="iphone"
            />
          </div>
          <span>Phụ kiện</span>
        </a>
      </li>
    </ul>
    <!-- BOX-SLIDE -->
    <div class="box-slide">
      <a href="" class="logo-cate">
        <i class="topzone-iconapple"></i>
        <h2 class="title-text">iPhone</h2>
      </a>
      <div class="slide-cate owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-item active">
            <div class="item">
              <a href="">
                <div class="img-slide">
                  <img
                    src="https://cdn.tgdd.vn/Products/Images/42/342679/s16/iphone-17-pro-max-blue-thumb-650x650.png"
                    alt="iphone"
                  />
                </div>
                <h3>iPhone 17 Pro Max 256GB</h3>
                <strong class="price">37.990.000₫</strong>
                <p class="item-txt-online">Hàng sắp về</p>
              </a>
            </div>
          </div>
          <div class="owl-stage-outer">
            <div class="owl-item active">
              <div class="item">
                <a href="">
                  <div class="img-slide">
                    <img
                      src="https://cdn.tgdd.vn/Products/Images/42/342679/s16/iphone-17-pro-max-blue-thumb-650x650.png"
                      alt="iphone"
                    />
                  </div>
                  <h3>iPhone 17 Pro Max 256GB</h3>
                  <strong class="price">37.990.000₫</strong>
                  <p class="item-txt-online">Hàng sắp về</p>
                </a>
              </div>
            </div>
          </div>
          <div class="owl-stage-outer">
            <div class="owl-item active">
              <div class="item">
                <a href="">
                  <div class="img-slide">
                    <img
                      src="https://cdn.tgdd.vn/Products/Images/42/342679/s16/iphone-17-pro-max-blue-thumb-650x650.png"
                      alt="iphone"
                    />
                  </div>
                  <h3>iPhone 17 Pro Max 256GB</h3>
                  <strong class="price">37.990.000₫</strong>
                  <p class="item-txt-online">Hàng sắp về</p>
                </a>
              </div>
            </div>
          </div>
          <div class="owl-stage-outer">
            <div class="owl-item active">
              <div class="item">
                <a href="">
                  <div class="img-slide">
                    <img
                      src="https://cdn.tgdd.vn/Products/Images/42/342679/s16/iphone-17-pro-max-blue-thumb-650x650.png"
                      alt="iphone"
                    />
                  </div>
                  <h3>iPhone 17 Pro Max 256GB</h3>
                  <strong class="price">37.990.000₫</strong>
                  <p class="item-txt-online">Hàng sắp về</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
