<div class="warpper-box-product">
  <div class="box-cate-product">
    <ul class="choose-cate">
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/IP_Desk_25.png"
              alt="iphone"
            />
          </div>
          <span>iPhone</span>
        </a>
      </li>
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/Mac_Desk_25.png"
              alt="iphone"
            />
          </div>
          <span>Mac</span>
        </a>
      </li>
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/Ipad_Desk_25.png"
              alt="iphone"
            />
          </div>
          <span>iPad</span>
        </a>
      </li>
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/Watch_Desk.png"
              alt="iphone"
            />
          </div>
          <span>AppleWatch</span>
        </a>
      </li>
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/Speaker_Desk_25.png"
              alt="iphone"
            />
          </div>
          <span>Tai Nghe</span>
        </a>
      </li>
      <li>
        <a href="">
          <div class="img-catesp cateiphone">
            <img
              src="https://cdnv2.tgdd.vn/webmwg/2024/tz/images/desktop/Phukien_Desk_25.png"
              alt="iphone"
            />
          </div>
          <span>Phụ kiện</span>
        </a>
      </li>
    </ul>
  </div>
</div>
