* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Khai báo biến toàn cục */
:root {
  --text-color: #ffffff;
  --primary-color: #ff9800;
  --secondary-color: #555;
  --bg-color: #f9f9f9;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  height: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
